.card{
    width: 100%;
    max-width: 300px;
    border-radius: 0.8em;
    overflow: hidden;
}
.card__header{
    width: 100%;
    aspect-ratio: 1;
    position: relative;

}
.card__avatar{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card__circle__container{
    position: absolute;
    top: 10%;
    width: 30%;
    background-color: #062226;
    padding: 5px 0 5px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 8px 8px 0;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}
.card__circle{
    width: 12px;
    aspect-ratio: 1;
    background: rgb(154, 152, 152);
    border-radius: 50px;
}
.Alive{
   background: green;
}
.Dead{
    background: red;
}
.card__body{
    padding: 15px;
    background: #062226;
    color: white;
    padding-bottom: 20px;
}
.card__name{
    font-size: 1.5;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.7em;
}
.card__item{
    display: grid;
    gap: 0.5em;
}
.card__item-label{
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(132, 132, 132);
    margin-bottom: 0.1em;
    position: relative;
    left: 0.8em;
    
}
